[workspace]

members = [
    "ffi",
    "bowbend_core",
    "xtask"
]

# Maturin doesn't play well with workspaces
exclude = ["sdks/python"]

[profile.release]
lto = true
codegen-units = 1
strip = true