[MASTER]
ignore=ffi.py

[MESSAGES CONTROL]
disable=missing-function-docstring,
    missing-class-docstring,  # remove this
    missing-module-docstring,  # remove this
    protected-access,
    too-few-public-methods, #remove this
    no-name-in-module # remove this
